<launch>
  <rosparam file="$(find hector_quadrotor_controller)/params/controller.yaml" />
<!-- <remap from="/cmd_vel" to="/rmtt/cmd_vel"  -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="controller/twist --shutdown-timeout 3"/>

</launch>
