<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="apriltag_demo">

  <xacro:include filename="$(find tams_apriltags)/urdf/april_cube.xacro" />

  <!-- note that our apriltag textures include the white border around
       the actual pattern (100x100 pixels total, with 80x80 pixels pattern).
       For example, our demo cubes are 70x70x70 mm diameter, and this
       needs to be specified here for marker_size. The apriltags node
       instead want the "internal" size, which is 0.056 (0.07*80/100)  
       in this case.
  -->

  <link name="world" />

  <link name="doro/world" />

  <joint name="hugo" type="fixed">
    <parent link="world" />
    <child  link="doro/world" />
    <origin xyz="0 0 1" rpy="0 0 0" />
  </joint>

  <xacro:april_cube name="april_cube_60" size="0.07" marker_size="0.07"
      id_top="60" id_front="61" id_right="62" id_back="63" id_left="64" id_bottom="65" />

  <joint name="april_cube_60_joint" type="fixed" >
    <parent link="world" />
    <child  link="april_cube_60" />
    <origin xyz="1 0 0.1" rpy=" 0 0 0" />
  </joint>

  <xacro:april_cube name="april_cube_40" size="0.071" marker_size="0.07"
      id_top="40" id_front="41" id_right="42" id_back="43" id_left="44" id_bottom="45" />

  <joint name="april_cube_40_joint" type="fixed" >
    <parent link="world" />
    <child  link="april_cube_40" />
    <origin xyz="0 0 0.1" rpy=" 0 0 0" />
  </joint>

  <xacro:april_cube name="april_cube_46" size="0.071" marker_size="0.07"
      id_top="46" id_front="47" id_right="48" id_back="49" id_left="50" id_bottom="51" />

  <joint name="april_cube_46_joint" type="fixed" >
    <parent link="world" />
    <child  link="april_cube_46" />
    <origin xyz="0.3 0 0.1" rpy=" 0 0 0" />
  </joint>

  <xacro:april_cube name="april_cube_52" size="0.071" marker_size="0.07"
      id_top="52" id_front="53" id_right="54" id_back="55" id_left="56" id_bottom="57" />

  <joint name="april_cube_52_joint" type="fixed" >
    <parent link="world" />
    <child  link="april_cube_52" />
    <origin xyz="0.6 0 0.1" rpy=" 0 0 0" />
  </joint>



</robot>
