<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="drone_x" default="0.5"/>
  <arg name="drone_y" default="0.0"/>
  <arg name="drone_z" default="0.0"/>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hector_gazebo_worlds)/worlds/room_mini.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >

    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/> 
    <arg name="x" default="$(arg drone_x)"/>
    <arg name="y" default="$(arg drone_y)"/>
    <arg name="z" default="$(arg drone_z)"/>   
  </include>

  <!-- spawn tianbot_mini --> 
  <arg name="robot_name" default="tianbot_mini" />
  <!-- 加载机器人模型描述参数 -->
  <group ns="$(arg robot_name)">
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tianbot_mini)/urdf/tianbot_mini_spawn.xacro' prefix:=$(arg robot_name)" />
        
      <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
          <param name="rate" value="50"/>
      </node> 

      <!-- 运行robot_state_publisher节点，发布tf  -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
          <param name="publish_frequency" type="double" value="50.0" />
      </node>

      <!-- 在gazebo中加载机器人模型-->
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model tianbot_mini -param robot_description
           -x $(arg x)
           -y $(arg y)
           -z $(arg z)"/>
  </group>

  <!-- Connect world and robot odom -->
  <node pkg="hector_quadrotor_demo" type="statictf.py" name="groundtruthtf" />
  
  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_quadrotor_demo)/rviz_cfg/outdoor_flight.rviz"/>

</launch>